@import url(http://fonts.googleapis.com/css?family=Open+Sans);

.slide-btn {
    background: #000;
    border-radius: 40px;
    opacity: .4;
    cursor: pointer;
}

.slide-btn:hover {
    opacity: .6;
}

.icon {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    color: #FFF;
    text-decoration: none;
}

#next-btn .icon {
    border-bottom: solid 2px #FFF;
    border-right: solid 2px #FFF;
}

#prev-btn .icon {
    border-top: solid 2px #FFF;
    border-left: solid 2px #FFF;
}

nav {
    background-color: #FFF;
    border-bottom: 2px solid #73c4d8;
}

nav ul, nav li, nav a {
    border: none;
    outline: none;
}

nav li a {
    text-align: center;
    text-decoration: none;
    font-family: 'Open Sans', 'sans-serif';
    color: #333;
}

nav a.students:hover {
    border-bottom: 3px solid #73c4d8;
}

nav a.teachers:hover {
    border-bottom: 3px solid #006500;
}

nav a.develop:hover {
    border-bottom: 3px solid #333;
}

nav a.about:hover {
    border-bottom: 3px solid #e30f0f;
}
