/*Hoja de estilos con la estética del menú de navegación*/
nav#top {
    background-color: #FFF;
    transition-duration: 1s;
}

nav#top ul, nav#top li, nav#top a {
    border: none;
    outline: none;
}

nav#top li {
    list-style: none;
}

nav#top li a {
    text-align: center;
    text-decoration: none;
    font-family: 'Open Sans', 'sans-serif';
    color: #333;
}

nav#top .home > a:hover {
    border-bottom: 4px solid #ff0;
}

nav#top .about > a:hover {
    border-bottom: 4px solid #da251d;
}

nav#top .submenu {
    background: #fff;
    border-bottom: 0;
    border-top: 4px solid #fff;
    transition: height 1s;
}

nav#top > ul:hover > li.students .submenu {
    border-left: 2px solid #aaa;
}

nav#top > ul:hover > li.teachers .submenu {
    border-left: 2px solid #aaa;
}

nav#top > ul:hover > li.developers .submenu {
    border-left: 2px solid #aaa;
}

nav#top .developers .submenu {
    border-right: 0;
}

nav#top .sie:hover .submenu {
    border-top: 4px solid #00ff6a;
}

nav#top .students:hover .submenu {
    border-top: 4px solid #1f92e5;
}

nav#top .teachers:hover .submenu {
    border-top: 4px solid #009638;
}

nav#top .developers:hover .submenu {
    border-top: 4px solid #666;
}

nav#top .submenu a {
    border-bottom: 2px solid #fff;
}

nav#top .sie .submenu a {
    border-left: 1px solid #00ff6a;
}

nav#top .sie .submenu a:hover {
    border-bottom: 2px solid #00ff6a;
}

nav#top .students .submenu a {
    border-left: 1px solid #1f92e5;
}

nav#top .students .submenu ul a {
    border-left: 4px double #1f92e5;
}

nav#top .students .submenu a:hover {
    border-bottom: 2px solid #1f92e5;
}

nav#top .teachers .submenu a:hover {
    border-bottom: 2px solid #009638;
}

nav#top .developers .submenu a:hover {
    border-bottom: 2px solid #666;
}

nav#top .teachers .submenu a {
    border-left: 1px solid #009638;
}

nav#top .teachers .submenu ul a {
    border-left: 4px double #009638;
}

nav#top .developers .submenu a {
    border-left: 1px solid #666;
}

nav#top .developers .submenu ul a {
    border-left: 4px double #666;
}
