nav {
    position: fixed;
    top: -52px;
    width: 100%;
    height: 51px;
}

nav ul, nav li, nav a {
    margin: 0;
    padding: 0;
}

nav > ul > li:first-child {
    width: 75px;
    margin-left: 5%;
}

nav li {
    position: relative;
    list-style: none;
    float: left;
    display: block;
    height: 51px;
    width: 170px;
}

nav li a {
    display: block;
    padding: 14px;
}

nav .submenu a {
    display: inline;
    padding: 3px;
}

nav .submenu li {
    display: list-item;
    clear: both;
    height: auto;
    width: auto;
    margin: 10px 20px;
}

nav .submenu {
    display: none;
    width: 170px;
    height: 220px;
    margin-top: 1px;
}
