nav#top {
    position: fixed;
    top: -52px;
    width: 100%;
    height: 51px;
    z-index: 9999;
}

nav#top ul, nav#top li, nav#top a {
    margin: 0;
    padding: 0;
}

nav#top .submenu {
    position: relative;
    top: -5px;
}

nav#top > ul > li:first-child {
    width: 75px;
    margin-left: 5%;
}

nav#top > ul > li {
    float: left;
    display: block;
    width: 170px;
}

nav#top li a {
    display: block;
    padding: 14px;
}

nav#top .submenu a {
    display: inline-block;
    padding: 3px;
}

nav#top .submenu li {
    display: list-item;
    clear: both;
    height: auto;
    width: auto;
    margin: 10px 20px;
}

nav#top .submenu {
    width: 170px;
    height: 0px;
    overflow: hidden;
    margin-top: 1px;
}
