body, html {
    padding: 0;
    margin: 0;
}

header {
    width: 960px;
    height: 100px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30px;
}

#logoSIE {
    width: 147px;
    height: 100px;
    float: left;
}
#escudoUN {
    width: 236px;
    height: 100px;
    float: right;
}

#breadcrumb {
    position: absolute;
    top: 200px;
    left: 20%;
}

nav#aside {
    display: block;
    width: 200px;
    position: absolute;
    left: 3%;
    top: 250px;
}

nav#aside > ul > li > a {
    width: 160px;
}

nav#aside .submenu {
    max-height: 0;
    overflow: hidden;
}

nav#aside li:hover .submenu {
    max-height: 170px;
}

nav#aside a {
    display: inline-block;
    padding: 3px;
    margin: 2px 0;
}

#content {
    width:63%;
    height:auto;
    position:relative;
    margin: 250px auto;
}