html {
	font-family: 'Open Sans', sans-serif;
	background-image: url("../images/backgroundContent.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

html.students {
    background-color: #0073ff;
}

html.sie {
	background-color: #ababab;
}

html.about {
	background-color: #da251d;
}

#breadcrumb {
    background: #ddd;
    border-radius: 7px;
    padding: 0 10px;
}

#breadcrumb a {
    display: inline-block;
    padding: 4px;
    text-decoration: none;
    color: #393939;
}

#breadcrumb a:hover {
    text-decoration: underline;
}

#breadcrumb a:first-child {
    font-weight: bold;
}

nav#aside {
    background: #fff;
    transition-duration: 2s;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px
}

nav#aside > ul > li.home > a {
    border-left: 3px solid #ff0;
    border-bottom: 3px solid #fff;
}

nav#aside > ul > li.home:hover > a {
    border-bottom: 3px solid #ff0;
}

nav#aside > ul > li.sie > a {
    border-left: 3px solid #00ff6a;
    border-bottom: 3px solid #fff;
}

nav#aside > ul > li.sie:hover > a {
    border-bottom: 3px solid #00ff6a;
}

nav#aside > ul > li.about > a {
    border-left: 3px solid #da251d;
    border-bottom: 3px solid #fff;
}

nav#aside > ul > li.about:hover > a {
    border-bottom: 3px solid #da251d;
}
nav#aside > ul > li.students > a {
    border-left: 3px solid #1f92e5;
    border-bottom: 3px solid #fff;
}

nav#aside > ul > li.students:hover > a {
    border-bottom: 3px solid #1f92e5;
}

nav#aside > ul > li.teachers > a {
    border-left: 3px solid #009638;
    border-bottom: 3px solid #fff;
}

nav#aside > ul > li.teachers:hover > a {
    border-bottom: 3px solid #009638;
}

nav#aside > ul > li.developers > a {
    border-left: 3px solid #666;
    border-bottom: 3px solid #fff;
}

nav#aside > ul > li.developers:hover > a {
    border-bottom: 3px solid #666;
}

nav#aside .submenu {
    transition-duration: 1s;
}

nav#aside a {
    text-decoration: none;
    color: #333;
}

nav#aside li {
    list-style: none;
    margin-left: -20px;
}

nav#aside .sie li a {
    border-left:  2px solid #00ff6a;
    border-bottom: 1px solid #fff;
}

nav#aside .sie li a:hover {
    border-bottom: 1px solid #00ff6a;
}

nav#aside .students li a {
    border-left:  2px solid #1f92e5;
    border-bottom: 1px solid #fff;
}

nav#aside .students li a:hover {
    border-bottom: 1px solid #1f92e5;
}

nav#aside .teachers li a {
    border-left:  2px solid #009638;
    border-bottom: 1px solid #fff;
}

nav#aside .teachers li a:hover {
    border-bottom: 1px solid #009638;
}

nav#aside .developers li a {
    border-left:  2px solid #666;
    border-bottom: 1px solid #fff;
}

nav#aside .developers li a:hover {
    border-bottom: 1px solid #666;
}

nav#aside .students li li a {
    border-left:  4px double #1f92e5;
}

nav#aside .teachers li li a {
    border-left:  4px double #009638;
}

nav#aside .developers li li a {
    border-left:  4px double #666;
}

#content {
    background:#fff;
    border-top-right-radius: 70px;
    color: #333;
}

#content p {
	text-align: justify;
	margin-left: 13px;
}

#content .tab {
	background: #fff;
	border-top-right-radius: 70px;
}

#tabs a {
	transition-duration: 0.5s;
	text-decoration: none;
}

#tabs.students a {
	background: #005ca2;
	color: #fff;
}

#tabs li {
	list-style: none;
}

#tabs span {
	text-decoration: none;
	background: #fff;
}

#tabs li:first-child span {
	border-top-right-radius: 20px;
}

#tabs li:first-child:hover a {
	border-top-right-radius: 20px;
}

#tabs li:last-child span {
	border-bottom-right-radius: 20px;
}

#tabs li:last-child:hover a {
	border-bottom-right-radius: 20px;
}

#tabs li:hover a {
	width: 160px;
}

a.doc{
	color: #333;
}

#top-btn {
	background: #000;
    border-radius: 35px;
    opacity: .6;
    cursor: pointer;
    transition: visibility 1s linear;
}

#top-btn:hover {
	opacity: .8;
}

#top-btn a {
	-webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    color: #FFF;
    text-decoration: none;
    border-top: solid 4px #FFF;
    border-left: solid 4px #FFF;
}

footer {
	background: rgba(255,255,255,0.6);
}

footer p {
	margin: 7px;
}

footer a {
	text-decoration: none;
	color: #222;
}
